.encabezado
{
width: 1110px;
margin: 0 auto;
position: relative;
display: flex; 
justify-content: space-between;
}
.logoTesh img
{
    width: 200px;
    height: 80px;
}
.logoGob img
{
    width: 200px;
    height: 80px;
}

.barra
{
    width: 1110px;
    margin: 0 auto;
    position: relative;
    display: flex; 
    background: #fafafa;
    border: 1px solid #d4d4d4;
    justify-content: center;
    padding: 12px 17px;
    font-size: large;
    border-radius: 5px;
}

    .menu
{
    margin-top: 10px;
}
.menu ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 1px;
    
}
.menu li
{
    border-right: 1px solid #d4d4d4;
    font-size: 20px;
    box-sizing: border-box;
}
.menu li:hover
{
    background: rgba(0,0,0,0.3); 
}
.menu li a
{
    display: block;
    padding: 15px 20px;
    color: #273746;
    text-decoration: none;
}
.imagen
{
width: 150px;
height: 150px;
}

.abajo
{
    margin-top: 300px;
    border-top: 1px solid #d4d4d4;
    font-size: 12px;
}


